# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environment & Config
.env
.envrc
.venv
env/
venv/
ENV/

# Project Specific
tmp/
*.pptx
*.docx
*.pdf

# IDEs & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.cursorignore
.cursorindexingignore

# Tests
.pytest_cache/
.coverage
htmlcov/
